## Import libraries & File location

In [35]:
%matplotlib inline
import tensorflow as tf
print(tf.VERSION)
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd

1.8.0

In [3]:
folder = '/Users/jmobrecht/GitHub/NN'
file = 'listdata.csv'
path = folder + '/' + file
print(path)

my_data = pd.read_csv(path)

/Users/jmobrecht/GitHub/NN/listdata.csv

## Define Variables

In [4]:
nrowsTot = np.size(my_data,0)
ncolsTot = np.size(my_data,1)

In [5]:
dataInput  = my_data.iloc[:,0:13] # dataframes
dataTarget = my_data.iloc[:,13:36]
dataOther  = my_data.iloc[:,36:40]

ncolsInput  = np.size(dataInput,1)
nrowsTarget = np.size(dataTarget,1)
nrowsOther  = np.size(dataOther,1)

dataInput.head()

,AEP1,AEP2,AEP3,AEP4,AEP5,AEP6,AEP7,AEP8,AEP9,AEP10,AEP11,AEP12,AEP13
0,4008.3,4953.3,5884.7,6777.6,7616.5,8393.2,9103.4,9745.4,10318,10823,11258,11627,11929
1,4033.5,4985.7,5922.9,6820.0,7661.9,8440.2,9151.1,9792.9,10365,10868,11303,11670,11971
2,4044.7,5000.1,5940.0,6839.1,7682.3,8461.4,9172.6,9814.4,10387,10889,11323,11689,11989
3,4048.8,5005.6,5946.5,6846.4,7690.2,8469.6,9181.0,9822.8,10395,10897,11331,11697,11997
4,4049.5,5006.4,5947.5,6847.5,7691.4,8470.9,9182.3,9824.1,10396,10899,11332,11698,11998

In [6]:
dataInput2, dataTarget2, dataOther2 = tf.split(my_data,[13,23,4],1) # tensors

In [7]:
dataInput3, dataTarget3, dataOther3 = np.split(my_data,[13,36],axis=1) # dataframes split at cols 13 & 36!

In [8]:
arrMeanWind = np.arange(5.0,11.5,0.5)
print(arrMeanWind)
np.size(arrMeanWind)

[ 5.   5.5  6.   6.5  7.   7.5  8.   8.5  9.   9.5 10.  10.5 11. ]

13

In [9]:
arrPCWind = np.arange(3.0,26.0,1.0)
print(arrPCWind)
np.size(arrPCWind)

[ 3.  4.  5.  6.  7.  8.  9. 10. 11. 12. 13. 14. 15. 16. 17. 18. 19. 20.
 21. 22. 23. 24. 25.]

23

In [10]:
dataOther['RPM'].head()

0    13.022
1    13.890
2    14.758
3    15.626
4    16.494
Name: RPM, dtype: float64

## Split Data into Training & Test

In [11]:
trainSplit = 0.8
nrowsTrain = int(np.round(trainSplit*nrowsTot))
nrowsTest  = nrowsTot - nrowsTrain

In [12]:
shuf = np.arange(nrowsTot)
np.random.shuffle(shuf)

In [13]:
dataInputTrain = dataInput.loc[shuf[0:nrowsTrain]]
dataInputTrain.head()

,AEP1,AEP2,AEP3,AEP4,AEP5,AEP6,AEP7,AEP8,AEP9,AEP10,AEP11,AEP12,AEP13
495,4762.8,6122.9,7543.8,8977.0,10384.0,11736.0,13013.0,14201.0,15288,16268,17136,17889,18529
2219,10202.0,12792.0,15412.0,17984.0,20452.0,22777.0,24937.0,26916.0,28706,30299,31693,32888,33886
2395,7775.1,9975.2,12288.0,14639.0,16966.0,19221.0,21368.0,23379.0,25233,26914,28413,29722,30841
5230,14746.0,18576.0,22473.0,26315.0,30014.0,33511.0,36767.0,39757.0,42465,44880,46998,48816,50339
2223,10404.0,13066.0,15750.0,18373.0,20878.0,23229.0,25404.0,27390.0,29179,30767,32151,33334,34319

In [14]:
dataTargetTrain = dataTarget.loc[shuf[0:nrowsTrain]]
dataTargetTrain.head()

,PC1,PC2,PC3,PC4,PC5,PC6,PC7,PC8,PC9,PC10,...,PC14,PC15,PC16,PC17,PC18,PC19,PC20,PC21,PC22,PC23
495,26316.0,121000.0,282000.0,520000.0,851000.0,1290000.0,1840000.0,2500000.0,3110000.0,3420000.0,...,3500000.0,3500000.0,3500000.0,3500000.0,3500000.0,3500000.0,3500000.0,3500000.0,3500000.0,3500000.0
2219,86975.0,305000.0,664000.0,1200000.0,1930000.0,2860000.0,3920000.0,4980000.0,5710000.0,5960000.0,...,6000000.0,6000000.0,6000000.0,6000000.0,6000000.0,6000000.0,6000000.0,6000000.0,6000000.0,6000000.0
2395,46739.0,204000.0,470000.0,865000.0,1410000.0,2120000.0,2970000.0,3900000.0,4840000.0,5580000.0,...,6000000.0,6000000.0,6000000.0,6000000.0,6000000.0,6000000.0,6000000.0,6000000.0,6000000.0,6000000.0
5230,123000.0,432000.0,941000.0,1700000.0,2740000.0,4100000.0,5710000.0,7370000.0,8530000.0,8930000.0,...,9000000.0,9000000.0,9000000.0,9000000.0,9000000.0,9000000.0,9000000.0,9000000.0,9000000.0,9000000.0
2223,86975.0,305000.0,664000.0,1200000.0,1940000.0,2910000.0,4120000.0,5280000.0,5860000.0,5990000.0,...,6000000.0,6000000.0,6000000.0,6000000.0,6000000.0,6000000.0,6000000.0,6000000.0,6000000.0,6000000.0

In [15]:
dataInputTest = dataInput.loc[shuf[0:nrowsTest]]
dataInputTest.head()

,AEP1,AEP2,AEP3,AEP4,AEP5,AEP6,AEP7,AEP8,AEP9,AEP10,AEP11,AEP12,AEP13
495,4762.8,6122.9,7543.8,8977.0,10384.0,11736.0,13013.0,14201.0,15288,16268,17136,17889,18529
2219,10202.0,12792.0,15412.0,17984.0,20452.0,22777.0,24937.0,26916.0,28706,30299,31693,32888,33886
2395,7775.1,9975.2,12288.0,14639.0,16966.0,19221.0,21368.0,23379.0,25233,26914,28413,29722,30841
5230,14746.0,18576.0,22473.0,26315.0,30014.0,33511.0,36767.0,39757.0,42465,44880,46998,48816,50339
2223,10404.0,13066.0,15750.0,18373.0,20878.0,23229.0,25404.0,27390.0,29179,30767,32151,33334,34319

In [16]:
dataTargetTest = dataTarget.loc[shuf[0:nrowsTest]]
dataTargetTest.head()

,PC1,PC2,PC3,PC4,PC5,PC6,PC7,PC8,PC9,PC10,...,PC14,PC15,PC16,PC17,PC18,PC19,PC20,PC21,PC22,PC23
495,26316.0,121000.0,282000.0,520000.0,851000.0,1290000.0,1840000.0,2500000.0,3110000.0,3420000.0,...,3500000.0,3500000.0,3500000.0,3500000.0,3500000.0,3500000.0,3500000.0,3500000.0,3500000.0,3500000.0
2219,86975.0,305000.0,664000.0,1200000.0,1930000.0,2860000.0,3920000.0,4980000.0,5710000.0,5960000.0,...,6000000.0,6000000.0,6000000.0,6000000.0,6000000.0,6000000.0,6000000.0,6000000.0,6000000.0,6000000.0
2395,46739.0,204000.0,470000.0,865000.0,1410000.0,2120000.0,2970000.0,3900000.0,4840000.0,5580000.0,...,6000000.0,6000000.0,6000000.0,6000000.0,6000000.0,6000000.0,6000000.0,6000000.0,6000000.0,6000000.0
5230,123000.0,432000.0,941000.0,1700000.0,2740000.0,4100000.0,5710000.0,7370000.0,8530000.0,8930000.0,...,9000000.0,9000000.0,9000000.0,9000000.0,9000000.0,9000000.0,9000000.0,9000000.0,9000000.0,9000000.0
2223,86975.0,305000.0,664000.0,1200000.0,1940000.0,2910000.0,4120000.0,5280000.0,5860000.0,5990000.0,...,6000000.0,6000000.0,6000000.0,6000000.0,6000000.0,6000000.0,6000000.0,6000000.0,6000000.0,6000000.0

## Neural Network Stuff

In [18]:
learningRate = 0.01

In [43]:
from tensorflow import layers
from keras.models import Sequential

model = tf.keras.Sequential()
# Adds a densely-connected layer with 64 units to the model:
model.add(layers.Dense(55, activation='relu'))
# Add another:
model.add(layers.Dense(35, activation='relu'))
# Add a softmax layer with 10 output units:
model.add(layers.Dense(10, activation='softmax'))

In [45]:
print(model)

<tensorflow.python.keras._impl.keras.engine.sequential.Sequential object at 0x11150f9e8>

In [46]:
# Note: Tensorflow variables don't seem to show up in Spyder!
a = tf.constant([1.0], name="a")
b = tf.constant([2.0], name="b")
result = a + b
with tf.Session() as sess:
    sess.run(result)